<section class="team-main text-center py-5 py-3">
    <!------------------ Hover Effect Style : Demo - 16 --------------->
    <div class="container">
        <div class="inner-sec-w3ls py-lg-5 py-3">
            <h2 class="title-wthree text-center mb-lg-5 mb-3">Producciones</h2>
            <div class="row mt-lg-5 mt-3">
                <div class="col-md-4 col-sm-6 team-gd animated zoomIn">
                    <div class="box16">
                        <img src="../../../assets/images/team1.jpg" alt=" " class="img-fluid">
                        <div class="box-content">
                            <h3 class="title-wthree">Halloween</h3>
                            <span class="post">20-05-2019</span>
                            <ul class="social social_media_w3layouts text-center">
                                <li><a [routerLink]="['/fotos']"><i class="far fa-arrow-alt-circle-up"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 team-gd animated zoomIn">
                    <div class="box16">
                        <img src="../../../assets/images/team2.jpg" alt=" " class="img-fluid">
                        <div class="box-content">
                            <h3 class="title-wthree">New Year</h3>
                            <span class="post">31-12-2018</span>
                            <ul class="social social_media_w3layouts text-center">
                                <li><a [routerLink]="['/fotos']"><i class="far fa-arrow-alt-circle-up"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 team-gd animated zoomIn">
                    <div class="box16">
                        <img src="../../../assets/images/team3.jpg" alt=" " class="img-fluid">
                        <div class="box-content">
                            <h3 class="title-wthree"> Ian Brown</h3>
                            <span class="post">Photographer</span>
                            <ul class="social social_media_w3layouts text-center">
                                <li><a [routerLink]="['/fotos']"><i class="far fa-arrow-alt-circle-up"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 mt-lg-4 team-gd animated zoomIn">
                    <div class="box16">
                        <img src="../../../assets/images/team4.jpg" alt=" " class="img-fluid">
                        <div class="box-content">
                            <h3 class="title-wthree">Pavi</h3>
                            <span class="post">Photographer</span>
                            <ul class="social social_media_w3layouts text-center">
                                <li><a [routerLink]="['/fotos']"><i class="far fa-arrow-alt-circle-up"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 mt-lg-4 team-gd animated zoomIn">
                    <div class="box16">
                        <img src="../../../assets/images/team5.jpg" alt=" " class="img-fluid">
                        <div class="box-content">
                            <h3 class="title-wthree">Leslie Larsen</h3>
                            <span class="post">Photographer</span>
                            <ul class="social social_media_w3layouts text-center">
                                <li><a [routerLink]="['/fotos']"><i class="far fa-arrow-alt-circle-up"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 mt-lg-4 team-gd animated zoomIn">
                    <div class="box16">
                        <img src="../../../assets/images/team6.jpg" alt=" " class="img-fluid">
                        <div class="box-content">
                            <h3 class="title-wthree">Natalie Bre</h3>
                            <span class="post">Photographer</span>
                            <ul class="social social_media_w3layouts text-center">
                                <li><a [routerLink]="['/fotos']"><i class="far fa-arrow-alt-circle-up"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>