<div class="row">
    <div class="col-lg-9 center">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title text-center">Subida de imagenes</h4>
                <h5 class="card-title text-center">
                    <input type="text" name="album" placeholder="Nombre del Album">
                </h5>
                <div>
                    <h4 class="text-center">Nombre del Album: Nombre</h4>
                    <input type="file" multiple>
                </div>
            </div>
        </div>
        <button type="button" class="btn btn-block btn-success waves-effect waves-light "><i class="fa fa-save"></i> Subir Imagenes</button>
    </div>
</div>